<div class="content-wrapper">
    <div class="content-body">
        <section class="faq-bottom">
                <!-- seach result section -->
                <div class="row">
                    <!-- Search content area -->
                    <div class="col-lg-12 col-md-7 col-12">
                        <div class="py-0 search-results">
                            <!-- Web results -->
                            <div>
                                <ul class="list-unstyled">
                                <li>
                                    <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title cursor-pointer">
                                            My resources to learn system design to advance level.
                                        </h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="d-lg-flex align-items-center mb-50">
                                            <div class=" font-small-2">
                                                Posted 2 hours ago - 1.2K views
                                            </div>
                                        </div>
                                        <p class="card-text">
                                            <b>Feb 22, 2021</b> - Hey everyone, I am sharing my resources, which I used while preparing for system design interviews. It helped me grab offers from Uber.
                                            I have curated all of my resources out here, If it adds a value, consider hitting up a thumbsup to cheer me up! 
                                        </p>
                                        <span class="badge badge-light-primary mb-sm-0 mb-25 mr-50">Free</span>
                                        <span class="badge badge-light-primary mb-sm-0 mb-25 mr-50">Begineer</span>
                                        <span class="badge badge-light-primary mb-sm-0 mb-25 mr-50">System Design</span>
                                    </div>
                                    <div class="card-footer border-top d-flex justify-content-between">
                                        <div>
                                            <i class="bx bx-donate-heart"></i>
                                            <small class="mb-50">54 Thanks</small>	
                                        </div>
                                        <div>
                                            <i class="bx bx-share-alt"></i>
                                            <small>Share</small>	
                                        </div>
                                        <div>
                                            <i class="bx bx-bookmark-heart"></i>
                                            <small>Save</small>	
                                        </div>
                                        <i class="bx bx-dots-vertical-rounded font-medium-2 cursor-pointer"></i>
                                    </div>
                                </li>
                                </ul>
                            </div>
                            <!-- Video results -->
                        </div>
                    </div>
                    <!--/ Search content area -->

                    <!-- Search Sidebar area -->
                    <div class="col-lg-4">
                        <div class="card box-search">
                            <div class="card-body">
                                <div class="text-center">
                                    <img class="img-fluid rounded" src="/assets/images/system-design.jpeg" alt="logo">
                                </div>
                                <h5 class="mt-1">Recommended Books</h5>
                                <p class="mt-1">
                                <i class="bx bx-link-external pr-1 align-middle"></i>
                                <a href="https://www.amazon.in/dp/B08CMF2CQF?tag=cuelinkss21083-21&keywords=system%20design%20interview&geniuslink=true" class="align-middle"
                                    target="_blank">
                                    System Design Interview by Alex Xu
                                </a>
                                </p>
                            </div>
                        </div>

                        <div class="card box-search">
                            <div class="card-body">
                                <div class="text-center">
                                    <img class="img-fluid rounded" src="/assets/images/system-design.jpeg" alt="logo">
                                </div>
                                <h5 class="mt-1">Recommended Books</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-12">
                        <div class="card box-search">
                        <div class="card-body">
                            <div class="text-center">
                                <img class="img-fluid rounded" src="/assets/images/system-design.jpeg" alt="logo">
                            </div>
                            <h5 class="mt-1">Recommended Books</h5>
                            <p class="mt-1">
                            <i class="bx bx-link-external pr-1 align-middle"></i>
                            <a href="https://www.amazon.in/dp/B08CMF2CQF?tag=cuelinkss21083-21&keywords=system%20design%20interview&geniuslink=true" class="align-middle"
                                target="_blank">
                                System Design Interview by Alex Xu
                            </a>
                            </p>
                            <p class="card-text">
                            If you’re a developer looking for an admin dashboard that is made with you in mind,
                            look no further than Vuexy. A powerful admin dashboard template built on Vue.js, Vuexy is
                            developer-friendly, rich with features and highly customizable.
                            </p>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-12">
                        <div class="card box-search">
                        <div class="card-body">
                            <div class="text-center">
                                <img class="img-fluid rounded" src="/assets/images/system-design.jpeg" alt="logo">
                            </div>
                            <h5 class="mt-1">Recommended Books</h5>
                            <p class="card-text">
                            If you’re a developer looking for an admin dashboard that is made with you in mind,
                            look no further than Vuexy. A powerful admin dashboard template built on Vue.js, Vuexy is
                            developer-friendly, rich with features and highly customizable.
                            </p>
                        </div>
                        </div>
                    </div>
                    <!--/ Search Sidebar area -->
                    <div class="col-lg-12 col-md-7 col-12 order-2 order-md-1">
                        <div class="card">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-12">
                                  <div class="row">
                                    <div class="col-12 col-sm-3 text-center mb-1 mb-sm-0">
                                      <img src="/assets/images/icon/default-user.webp" class="rounded" alt="Author Image" height="120" width="120" />
                                    </div>
                                    <div class="col-12 col-sm-9">
                                      <div class="row">
                                        <div class="col-12 text-center text-sm-left">
                                          <h6 class="media-heading mb-0">Pankaj Tanwar<i class="cursor-pointer bx bx-badge-check text-primary ml-50 align-middle"></i></h6>
                                        </div>
                                        <div class="col-12 text-center text-sm-left">
                                            <div class="mb-1">
                                                <span class="mr-1">122 <small>Resoures shared</small></span>
                                                <span class="mr-1">4.7k <small>Thanks received</small></span>
                                            </div>
                                          <p>Pankaj is Senior Software Developer at Google. He likes to write, read & learn about system desiging and web technology.</p>
                                          <!-- <button class="btn btn-sm d-none d-sm-block float-right btn-primary">
                                            <i class="cursor-pointer bx bx-donate-heart font-small-3 mr-50"></i><span>Say thanks to Pankaj.</span>
                                          </button>
                                          <button class="btn btn-sm d-block d-sm-none btn-block text-center btn-primary">
                                            <i class="cursor-pointer bx bx-donate-heart font-small-3 mr-25"></i><span>Say thanks to Pankaj.</span>
                                        </button> -->
                                        <button class="btn btn-primary search-btn rounded d-none d-sm-block float-right" type="button">
                                            <i class="cursor-pointer bx bx-donate-heart font-small-3 mr-50"></i><span>Say thanks to Pankaj.</span>
                                        </button>
                                        <button class="btn btn-primary search-btn rounded d-sm-none btn-block text-center mb-1" type="button">
                                            <i class="cursor-pointer bx bx-donate-heart font-small-3 mr-50"></i><span>Say thanks to Pankaj.</span>
                                        </button>
                                        <div class="knowledge-panel-suggestion">
                                            <div class="suggestion d-inline-block text-center mr-2">
                                                <a href="#" target="_blank">
                                                <i class="bx bxl-facebook-square facebook font-large-1"></i>
                                                <span class="font-small-2 d-block">Facebook</span>
                                                </a>
                                            </div>
                                            <div class="suggestion d-inline-block text-center mr-2">
                                                <a href="#" target="_blank">
                                                <i class="bx bxl-linkedin-square linkedin font-large-1"></i>
                                                <span class="font-small-2 d-block">Linkedin</span>
                                                </a>
                                            </div>
                                            <div class="suggestion d-inline-block text-center mr-2">
                                                <a href="#" target="_blank">
                                                <i class="bx bxl-twitter twitter font-large-1"></i>
                                                <span class="font-small-2 d-block">Twitter</span>
                                                </a>
                                            </div>
                                            <div class="suggestion d-inline-block text-center">
                                                <a href="#" target="_blank">
                                                <i class="bx bxl-youtube youtube font-large-1"></i>
                                                <span class="font-small-2 d-block">Youtube</span>
                                                </a>
                                            </div>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
          </section>
    </div>
</div>