<div class="content-wrapper">
    <div class="content-body">
        <section>
                <!-- seach result section -->
                <div class="row" ng-if="resource.loading">
                    <!-- Loading -->
                    <div class="col-12">
                        <div class="card bg-transparent shadow-none kb-header">
                            <!-- Verifying -->
                            <div class="card-body text-center">
                            <div class="spinner-border text-success mb-1" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <h1 class="mb-2 text-primary kb-title">{{ main.loadingMsg }}</h1>
                            <p class="mb-3">
                                pulling it out, trust me, it's worth the wait.
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="!resource.loading">
                    <!-- Search content area -->
                    <div class="col-lg-12 col-md-7 col-12">
                        <div class="py-0 search-results">
                            <!-- Web results -->
                            <div>
                                <ul class="list-unstyled">
                                <li>
                                    <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title cursor-pointer">
                                            {{ resource.content.title }}
                                        </h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="d-lg-flex align-items-center mb-50">
                                            <div class=" font-small-2">
                                                Posted 2 hours ago - {{ resource.content.viewsCount }} views
                                            </div>
                                        </div>
                                        <p class="card-text">
                                            <b>{{ resource.content.__createdtime__ | date : 'MMM d, yyyy' }}</b> - {{ resource.content.description}}
                                        </p>
                                        <span class="badge badge-light-primary mb-sm-0 mb-25 mr-50">{{ resource.content.resourceType }}</span>
                                        <span class="badge badge-light-primary mb-sm-0 mb-25 mr-50">{{ resource.content.resourceLevel }}</span>
                                        <span class="badge badge-light-primary mb-sm-0 mb-25 mr-50">System Design</span>
                                    </div>
                                    <div class="card-footer border-top d-flex justify-content-between">
                                        <div>
                                            <!-- <i class="bx bx-donate-heart"></i>
                                            <small class="mb-50">{{ resource.content.thanksCount }}  Thanks</small>	 -->
                                            <div class="list-left d-flex">
                                                <div class="list-icon mr-1" ng-click="resource.sayThanks()">
                                                  <div class="avatar bg-rgba-danger m-0 p-25">
                                                    <div class="avatar-content">
                                                      <i class="bx bx-donate-heart text-danger font-medium-5"></i>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="list-content">
                                                  <span>{{ resource.content.thanksCount }}</span>
                                                  <small class="text-muted d-block">thanks</small>
                                                </div>
                                              </div>
                                        </div>
                                        <div class="align-items-right">
                                            <div class="list-left d-flex" ng-click="resource.share(null, resource.content.title)">
                                                <div class="list-icon mr-1" data-toggle="modal" data-target="#default">
                                                  <div class="avatar bg-rgba-info m-0 p-25">
                                                    <div class="avatar-content">
                                                      <i class="bx bx-share-alt text-info font-medium-5"></i>
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="list-left d-flex">
                                                <div class="list-icon mr-1">
                                                  <div class="avatar bg-rgba-info m-0 p-25">
                                                    <div class="avatar-content">
                                                      <i class="bx bx-bookmark-heart text-info font-medium-5"></i>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                        </div>
                                        <!-- <i class="bx bx-dots-vertical-rounded font-medium-2 cursor-pointer"></i> -->
                                    </div>
                                </li>
                                </ul>
                            </div>
                            <!-- Video results -->
                        </div>
                    </div>
                    <!--/ Search content area -->

                    <!-- Search Sidebar area -->
                    <div class="col-lg-4 col-md-5 col-12" ng-repeat="block in resource.content.blocks">
                        <div class="card box-search">
                        <div class="card-body">
                            <div class="text-center">
                                <img class="img-fluid rounded" src="/assets/images/system-design.jpeg" alt="logo">
                            </div>
                            <h5 class="mt-1">{{ block.title }}</h5>
                            <p class="mt-1" ng-repeat="link in block.links">
                                <i class="bx bx-link-external pr-1 align-middle"></i>
                                <a href="{{ link.link }}" class="align-middle" target="_blank">
                                    {{ link.title }}
                                </a>
                            </p>
                            <p class="card-text">
                                {{ block.description }}
                            </p>
                        </div>
                        </div>
                    </div>
                    <!--/ Search Sidebar area -->
                    <div class="col-lg-12 col-md-7 col-12 order-2 order-md-1">
                        <div class="card">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-12">
                                  <div class="row">
                                    <div class="col-12 col-sm-3 text-center mb-1 mb-sm-0">
                                      <img src="{{ resource.content.avatar }}" class="rounded" alt="Author Image" height="120" width="120" />
                                    </div>
                                    <div class="col-12 col-sm-9">
                                      <div class="row">
                                        <div class="col-12 text-center text-sm-left">
                                          <h6 class="media-heading mb-0">{{ resource.content.firstName }} {{ resource.content.lastName }}<i class="cursor-pointer bx bx-badge-check text-primary ml-50 align-middle"></i></h6>
                                        </div>
                                        <div class="col-12 text-center text-sm-left">
                                            <div class="mb-1">
                                                <span class="mr-1">{{ resource.content.totalResource }} <small>Resoures shared</small></span>
                                                <span class="mr-1">{{ resource.content.totalThanks }} <small>Thanks received</small></span>
                                            </div>
                                          <p>{{ resource.content.about }}</p>
                                          <!-- <button class="btn btn-sm d-none d-sm-block float-right btn-primary">
                                            <i class="cursor-pointer bx bx-donate-heart font-small-3 mr-50"></i><span>Say thanks to Pankaj.</span>
                                          </button>
                                          <button class="btn btn-sm d-block d-sm-none btn-block text-center btn-primary">
                                            <i class="cursor-pointer bx bx-donate-heart font-small-3 mr-25"></i><span>Say thanks to Pankaj.</span>
                                        </button> -->
                                        <button class="btn btn-primary search-btn rounded d-none d-sm-block float-right" type="button" ng-if="!resource.thanked" ng-click="resource.sayThanks()">
                                            <i class="cursor-pointer bx bx-donate-heart font-small-3 mr-50"></i><span>Say thanks to {{ resource.content.firstName }}.</span>
                                        </button>
                                        <button class="btn btn-primary search-btn rounded d-sm-none btn-block text-center mb-1" type="button" ng-if="!resource.thanked" ng-click="resource.sayThanks()">
                                            <i class="cursor-pointer bx bx-donate-heart font-small-3 mr-50"></i><span>Say thanks to {{ resource.content.firstName }}.</span>
                                        </button>
                                        <button class="btn btn-success search-btn rounded d-none d-sm-block float-right" type="button" ng-if="resource.thanked">
                                          <i class="cursor-pointer bx bx-check font-small-3 mr-50"></i><span>Thank you sent to {{ resource.content.firstName }}.</span>
                                      </button>
                                      <button class="btn btn-success search-btn rounded d-sm-none btn-block text-center mb-1" type="button" ng-if="resource.thanked">
                                          <i class="cursor-pointer bx bx-check font-small-3 mr-50"></i><span>Thank you sent to {{ resource.content.firstName }}.</span>
                                      </button>

                                        <div class="knowledge-panel-suggestion">
                                            <div class="suggestion d-inline-block text-center mr-2" ng-if="resource.content.facebook">
                                                <a href="{{ resource.content.facebook }}" target="_blank">
                                                <i class="bx bxl-facebook-square facebook font-large-1"></i>
                                                <span class="font-small-2 d-block">Facebook</span>
                                                </a>
                                            </div>
                                            <div class="suggestion d-inline-block text-center mr-2" ng-if="resource.content.linkedin">
                                                <a href="{{ resource.content.linkedin }}" target="_blank">
                                                <i class="bx bxl-linkedin-square linkedin font-large-1"></i>
                                                <span class="font-small-2 d-block">Linkedin</span>
                                                </a>
                                            </div>
                                            <div class="suggestion d-inline-block text-center mr-2" ng-if="resource.content.twitter">
                                                <a href="{{ resource.content.twitter }}" target="_blank">
                                                <i class="bx bxl-twitter twitter font-large-1"></i>
                                                <span class="font-small-2 d-block">Twitter</span>
                                                </a>
                                            </div>
                                            <div class="suggestion d-inline-block text-center" ng-if="resource.content.youtube">
                                                <a href="{{ resource.content.youtube }}" target="_blank">
                                                <i class="bx bxl-youtube youtube font-large-1"></i>
                                                <span class="font-small-2 d-block">Youtube</span>
                                                </a>
                                            </div>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
          </section>
    </div>
</div>


<!--Share Modal -->
<div class="modal fade text-left" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel1">❤️ Spread some love.</h3>
        <button type="button" class="close rounded-pill" data-dismiss="modal" aria-label="Close">
          <i class="bx bx-x"></i>
        </button>
      </div>
      <div class="modal-body">
        <p class="card-title cursor-pointer">
          {{ resource.content.title }}
        </p>
        <div class="knowledge-panel-suggestion">
          <div class="suggestion d-inline-block text-center mr-2">
              <a href="{{ resource.linkedinShare }}" target="_blank">
              <i class="bx bxl-linkedin-square linkedin font-large-1"></i>
              <span class="font-small-2 d-block">Linkedin</span>
              </a>
          </div>
          <div class="suggestion d-inline-block text-center mr-2">
              <a href="{{ resource.twitterShare }}" target="_blank">
              <i class="bx bxl-twitter twitter font-large-1"></i>
              <span class="font-small-2 d-block">Twitter</span>
              </a>
          </div>
        <div class="suggestion d-inline-block text-center mr-2">
          <a href="{{ resource.whatsappShare }}" target="_blank">
          <i class="bx bxl-whatsapp text-info font-large-1"></i>
          <span class="font-small-2 d-block">WhatsApp</span>
          </a>
      </div>
          </div>
      </div>
      <div class="col-sm-12">
				<label>Permalink</label>
				<fieldset class="form-group position-relative has-icon-left">
					<input type="url" class="form-control" placeholder="Param link" ng-model="resource.url">
					<div class="form-control-position">
						<i class="bx bx-link"></i>
					</div>
				</fieldset> 
			</div>
    </div>
  </div>
</div>