<div class="content-wrapper">
    <div class="content-body">
        <!--/ Search result section -->
        <section class="faq-bottom">
            <div class="row mb-2">
                <div class="col-12 text-center">
                    <h2 class="faq-subtitle"> My Bookmarks</h2>
                </div>
            </div>  
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                    <div class="card-header pb-0">
                        <h4 class="card-title cursor-pointer">
                            <a href="/resource">
                                My resources to learn system design to advance level.
                            </a>
                        </h4>
                    </div>
                    <div class="card-body" style="padding-bottom: 10px;">
                        <div class="d-lg-flex align-items-center mb-50">
                            <div class=" font-small-2">
                                Posted 2 hours ago - 1.2K views
                            </div>
                        </div>
                        <div class="media align-items-center">
                            <a href="/profile" class="pr-1" target="_blank">
                                <img src="/assets/images/icon/default-user.webp" alt="Pankaj Tanwar" class="rounded-circle" height="40" width="40">
                            </a>
                            <div class="media-body d-sm-flex justify-content-between align-items-center">
                                <div class="media-text ">
                                    <p class="mt-50 mb-0 card-text">
                                        <a class="mb-0" href="/profile">Pankaj Tanwar</a>
                                    </p>
                                    <p>Senior Software Engineer at Uber (5+ YOE)</p>
                                </div>
                            </div>
                        </div>
                        <span class="badge badge-light-primary mb-sm-0 mb-25 mr-50">Free</span>
                        <span class="badge badge-light-primary mb-sm-0 mb-25 mr-50">Begineer</span>
                        <span class="badge badge-light-primary mb-sm-0 mb-25 mr-50">System Design</span>
                    </div>
                    </div>
              </div>   
              </div>

            </div>       
        </section>
    </div>
</div>