<div class="content-wrapper">
    <div class="content-body">
        <!--/ Search result section -->
        <section>
            <div class="row mb-2">
                <div class="col-12 text-center">
                    <h2 class="faq-subtitle"> My Bookmarks</h2>
                </div>
            </div>
            <!-- loading result section -->
            <div class="row" ng-if="bookmark.loading">
                <!-- Loading -->
                <div class="col-12">
                    <div class="card bg-transparent shadow-none kb-header">
                        <!-- Verifying -->
                        <div class="card-body text-center">
                        <div class="spinner-border text-success mb-1" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <h1 class="mb-2 text-primary kb-title">{{ main.loadingMsg }}</h1>
                        <p class="mb-3">
                            pulling it out, trust me, it's worth the wait.
                        </p>
                        </div>
                    </div>
                </div>
            </div> 
            <!-- empty result section -->
            <div class="row" ng-if="bookmark.myBookmarks.length == 0">
                <!-- Loading -->
                <div class="col-12">
                    <div class="card bg-transparent shadow-none kb-header">
                        <!-- Verifying -->
                        <div class="card-body text-center">
                        <div class=" text-success mb-1 font-large-1" role="status">
                            🙈
                        </div>
                        <h1 class="mb-2 text-success kb-title">It's all quiet here.</h1>
                        <p class="mb-3">
                            (<a href="/">explore </a> resources and save them here)
                        </p>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="row">
              <div class="col-lg-12">
                <div class="card" ng-repeat="bookmark in bookmark.myBookmarks">
                    <div class="card-header pb-0">
                        <h4 class="card-title cursor-pointer">
                            <a href="/resource/{{ bookmark.slugUrl }}">
                                {{ bookmark.title }}
                            </a>
                        </h4>
                    </div>
                    <div class="card-body" style="padding-bottom: 10px;">
                        <div class="d-lg-flex align-items-center mb-50">
                            <div class=" font-small-2">
                                {{ bookmark.__createdtime__ | date : 'MMM dd, yyyy'}} - {{ bookmark.thanksCount }} thanks - {{ bookmark.viewsCount }} views
                            </div>
                        </div>
                        <span class="badge badge-light-primary mb-sm-0 mb-25 mr-50">{{ bookmark.resourceType }}</span>
                        <span class="badge badge-light-primary mb-sm-0 mb-25 mr-50">{{ bookmark.resourceLevel }}</span>
                    </div>
                    </div>
              </div>   
              </div>

            </div>       
        </section>
    </div>
</div>