<div class="content-wrapper">
    <div class="content-body">
        <!--/ Search result section -->
        <section class="faq-bottom">
            <div class="row widgets-text-chart">
                <!-- Notification Widget Starts -->
                <div class="col-lg-12">
                  <div class="card widget-notification">
                    <div class="card-header border-bottom">
                      <h4 class="card-title d-flex align-items-center">
                        <i class='bx bx-bell font-medium-4 mr-1'></i>Notifications</h4>
                      <div class="heading-elements">
                        <button type="button" class="btn btn-sm btn-light-primary">Read All</button>
                      </div>
                    </div>
                    <div class="card-body p-0">
                      <ul class="list-group list-group-flush">
                        <li
                          class="list-group-item list-group-item-action border-0 d-flex align-items-center justify-content-between">
                          <div class="list-left d-flex">
                            <div class="list-icon mr-1">
                              <div class="avatar bg-rgba-primary m-0 p-25">
                                <div class="avatar-content">
                                  <i class="bx bx-edit-alt text-primary font-medium-5"></i>
                                </div>
                              </div>
                            </div>
                            <div class="list-content">
                              <span class="list-title">New Report has been received</span>
                              <small class="text-muted d-block">Few sec ago</small>
                            </div>
                          </div>
                          <div class="readable-mark-icon" data-toggle="tooltip" data-placement="left" title="Mark as read">
                            <i class='bx bxs-circle text-light-primary font-medium-1'></i>
                          </div>
                        </li>
                        <li
                          class="list-group-item list-group-item-action border-0 d-flex align-items-center justify-content-between">
                          <div class="list-left d-flex">
                            <div class="list-icon mr-1">
                              <div class="avatar bg-rgba-primary m-0">
                                <img class="img-fluid" src="../../../app-assets/images/profile/user-uploads/social-2.jpg"
                                  alt="img placeholder" height="38" width="38">
                              </div>
                            </div>
                            <div class="list-content">
                              <span class="list-title">New Customer is registered</span>
                              <small class="text-muted d-block">03:44PM</small>
                            </div>
                          </div>
                          <div class="readable-mark-icon" data-toggle="tooltip" data-placement="left" title="Mark as read">
                            <i class='bx bxs-circle text-light-primary font-medium-1'></i>
                          </div>
                        </li>
                        <li
                          class="list-group-item list-group-item-action border-0 d-flex align-items-center justify-content-between">
                          <div class="list-left d-flex">
                            <div class="list-icon mr-1">
                              <div class="avatar bg-rgba-danger m-0 p-25">
                                <div class="avatar-content">
                                  <span class="font-medium-1 text-danger">BM</span>
                                </div>
                              </div>
                            </div>
                            <div class="list-content">
                              <span class="list-title">New Customer is registered</span>
                              <small class="text-muted d-block">03:44PM</small>
                            </div>
                          </div>
                          <div class="readable-mark-icon" data-toggle="tooltip" data-placement="left" title="Mark as read">
                            <i class='bx bxs-circle text-light-primary font-medium-1'></i>
                          </div>
                        </li>
                        <li
                          class="list-group-item list-group-item-action border-0 d-flex align-items-center justify-content-between">
                          <div class="list-left d-flex">
                            <div class="list-icon mr-1">
                              <div class="avatar bg-rgba-info m-0 p-25">
                                <div class="avatar-content">
                                  <i class="bx bx-cake text-info font-medium-5"></i>
                                </div>
                              </div>
                            </div>
                            <div class="list-content">
                              <span class="list-title">Julia's birthday on Monday, party arrangement</span>
                              <small class="text-muted d-block">Monday</small>
                            </div>
                          </div>
                          <div class="readable-mark-icon mark-as-read" data-toggle="tooltip" data-placement="left"
                            title="Mark as Unread">
                            <i class='bx bxs-circle text-light-secondary font-medium-1'></i>
                          </div>
                        </li>
                        <li
                          class="list-group-item list-group-item-action border-0 d-flex align-items-center justify-content-between">
                          <div class="list-left d-flex">
                            <div class="list-icon mr-1">
                              <div class="avatar bg-rgba-primary m-0">
                                <img class="img-fluid" src="../../../app-assets/images/profile/user-uploads/user-07.jpg"
                                  alt="img placeholder" height="38" width="38">
                              </div>
                            </div>
                            <div class="list-content">
                              <span class="list-title">New Mail From Ardis Balderson</span>
                              <small class="text-muted d-block">12 March</small>
                            </div>
                          </div>
                          <div class="readable-mark-icon" data-toggle="tooltip" data-placement="left" title="Mark as read">
                            <i class='bx bxs-circle text-light-primary font-medium-1'></i>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Notification Widget Ends -->
            </div>
          </section>
    </div>
</div>