<div class="content-wrapper">
    <div class="content-body">
        <!--/ Search result section -->
        <section class="faq-bottom">
            <div class="row widgets-text-chart">
                <!-- Notification Widget Starts -->
                <div class="col-lg-12">
                  <div class="card widget-notification">
                    <div class="card-header border-bottom">
                      <h4 class="card-title d-flex align-items-center">
                        <i class='bx bx-bell font-medium-4 mr-1'></i>Notifications</h4>
                      <div class="heading-elements">
                        <button type="button" class="btn btn-sm btn-light-primary">Read All</button>
                      </div>
                    </div>
                    <div class="card-body p-0">
                      <ul class="list-group list-group-flush">
                        <li
                          class="list-group-item list-group-item-action border-0 d-flex align-items-center justify-content-between">
                          <div class="list-left d-flex">
                            <div class="list-icon mr-1">
                              <div class="avatar bg-rgba-info m-0 p-25">
                                <div class="avatar-content">
                                  <i class="bx bx-cake text-info font-medium-5"></i>
                                </div>
                              </div>
                            </div>
                            <div class="list-content">
                              <span class="list-title">Hey 👋, Welcome to the gang {{ main.user.firstName }}!</span>
                              <small class="text-muted d-block mt-1">Ohhh my goodness 🔥, we are so thrilled you decided to join the bestresources.co family. You will never struggle to find the best learning resources again!</small>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Notification Widget Ends -->
            </div>
          </section>
    </div>
</div>