<div class="content-wrapper">
    <div class="content-body">
        <section class="users-edit">
            <div class="card">
                <div class="card-body">
                    <ul class="nav nav-tabs mb-2" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center active" href="#" aria-selected="true">
                                <i class="bx bx-user mr-25"></i>
                                <span class="d-none d-sm-block">User Profile</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active fade show">
                            <!-- users edit media object start -->
                            <div class="media mb-2">
                                <a class="mr-2" href="javascript:void(0);">
                                    <img src="/assets/images/icon/default-user.webp" alt="Pankaj Tanwar"
                                        class="users-avatar-shadow rounded-circle" height="64" width="64">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Pankaj Tanwar</h4>
                                    <div class="col-12 px-0 d-flex">
                                        <a href="javascript:void(0);" class="btn btn-sm btn-outline-primary mr-25">Upload a new photo</a>
                                    </div>
                                </div>
                            </div>
                            <!-- users edit media object ends -->
                            <!-- users edit account form start -->
                            <form class="form-validate">
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <div class="controls">
                                                <label>Name</label>
                                                <input type="text" class="form-control" placeholder="Enter Name" value="Pankaj Tanwar" name="username">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <div class="controls">
                                                <label>E-mail</label>
                                                <input type="email" class="form-control" placeholder="Email"
                                                    value="pankajtanwar510@gmail.com"
                                                    name="email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <div class="controls">
                                                <label>About</label>
                                                <textarea type="text" class="form-control" placeholder="Write something about you." name="about" rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="divider divider-center">
                                    <div class="divider-text"><i class="bx bx-star"></i></div>
                                </div>

                                <div class="row">
                                    <form class="form-validate">
                                        <div class="row">
                                            <div class="col-12">
                                                <h5 class="mb-1"><i class="bx bx-link mr-25"></i>Social Links</h5>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <label>Twitter</label>
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="text" class="form-control" placeholder="Enter your twitter profile">
                                                    <div class="form-control-position">
                                                        <i class="bx bxl-twitter"></i>
                                                    </div>
                                                </fieldset> 
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <label>LinkedIn</label>
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="text" class="form-control" placeholder="Enter your LinkedIn profile">
                                                    <div class="form-control-position">
                                                        <i class="bx bxl-linkedin"></i>
                                                    </div>
                                                </fieldset> 
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <label>Website</label>
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="text" class="form-control" placeholder="Enter your website">
                                                    <div class="form-control-position">
                                                        <i class="bx bx-link"></i>
                                                    </div>
                                                </fieldset> 
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <label>YouTube</label>
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="text" class="form-control" placeholder="Enter your YouTube profile">
                                                    <div class="form-control-position">
                                                        <i class="bx bxl-youtube"></i>
                                                    </div>
                                                </fieldset> 
                                            </div>
                                            <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-1">
                                                <button type="button" class="btn btn-success glow mr-1 mb-1">
                                                    <i class="bx bx-check"></i>
                                                    <span class="align-middle ml-25">Save Changes</span>
                                                </button>                                      
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </form>
                            <!-- users edit account form ends -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </div>
</div>