<div class="content-wrapper">
    <div class="content-body">
        <!--/ tags result section -->
        <section>
            <div class="row mb-2">
                <div class="col-12 text-center">
                    <h2 class="faq-subtitle"> #{{ hashTag.tagSlug }} </h2>
                    <p class="p-2 text-muted font-medium-1">Find the best content on the web!</p>
                </div>
            </div>  
            <!-- loading result section -->
            <div class="row" ng-if="hashTag.loading">
              <!-- Loading -->
              <div class="col-12">
                  <div class="card bg-transparent shadow-none kb-header">
                      <!-- Verifying -->
                      <div class="card-body text-center">
                      <div class="spinner-border text-success mb-1" role="status">
                          <span class="sr-only">Loading...</span>
                      </div>
                      <h1 class="mb-2 text-primary kb-title">{{ main.loadingMsg }}</h1>
                      <p class="mb-3">
                          fetching content, please wait.
                      </p>
                      </div>
                  </div>
              </div>
          </div>
        <!-- empty result section -->
        <div class="row" ng-if="hashTag.resources.length == 0 || hashTag.errorMsg">
        <!-- Loading -->
        <div class="card-body text-center">
            <div class="mb-1" >
                <img src="https://bestresources.s3.ap-south-1.amazonaws.com/profile/failure.png" width="294px" height="253px;">
            </div>
            <h1 class="mb-2 text-danger kb-title">It's not you, it's us 😔</h1>
            <p class="mb-3">
                Ohhh! We could not find any matching resource in our database. Don't worry, we are taking note of it and working hard towards listing them here for you.
            </p>
            <hr>
            <div class="text-center"><small class="mr-25">Would like to explore?</small><a href="/"><small>Click here</small></a></div>
        </div>
        </div>  
            <div class="row">
                <div class="col-lg-12">
                <div class="card" ng-repeat="content in hashTag.resources">
                    <div class="card-header pb-0">
                        <h4 class="card-title cursor-pointer">
                            <a href="/resource/{{ content.slugUrl }}">
                                {{ content.title }}
                            </a>
                        </h4>
                    </div>
                    <div class="card-body" style="padding-bottom: 10px;">
                        <div class="d-lg-flex align-items-center mb-50">
                            <div class=" font-small-2">
                                {{ content.__createdtime__ | date : 'MMM dd, yyyy'}} - {{ content.thanksCount }} thanks - {{ content.viewsCount }} views
                            </div>
                        </div>
                        <span class="badge badge-light-primary mb-sm-0 mb-25 mr-50">#{{ hashTag.tagSlug }}</span>
                        <span class="badge badge-light-primary mb-sm-0 mb-25 mr-50">{{ content.resourceType }}</span>
                        <span class="badge badge-light-primary mb-sm-0 mb-25 mr-50">{{ content.resourceLevel }}</span>
                    </div>
                </div>
        </div>   
            </div>        
        </section>
    </div>
</div>