<div class="content-wrapper">
    <div class="content-body">
        <!--/ Search result section -->
        <section class="faq-bottom">
            <div class="row mb-2">
                <div class="col-12 text-center">
                    <h2 class="faq-subtitle"> Tags</h2>
                    <p class="p-2 text-muted font-medium-1">Explore most popular tags!</p>
                </div>
            </div>  
            <div class="row">
              <div class="col-lg-4 col-md-5 col-12 order-1 order-md-2">
                <div class="card">
                  <div class="card-body">
                    <div class="media d-flex align-items-center">
                      <a href="/tag/javascript">
                        <img src="/assets/images/home-page/topics/javascript.png" class="rounded" alt="group image"
                          height="64" width="64" />
                      </a>
                      <div class="media-body ml-1">
                        <h6 class="media-heading mb-0">
                            <span>JavaScript</span>
                        </h6>
                        <small class="text-muted">2.8k Posts</small>
                      </div>
                        <a href="/tag/javascript">
                            <i class="cursor-pointer bx bx-link-external text-primary d-flex align-items-center "></i>
                        </a>
                    </div>
                  </div>
              </div>   
              </div>

            </div>       
        </section>
    </div>
</div>