<div class="content-wrapper">
    <div class="content-body">
        <!--/ Search result section -->
        <section class="faq-bottom">
            <div class="row mb-2">
                <div class="col-12 text-center">
                    <h2 class="faq-subtitle">Namaste 🙏 </h2>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12 text-center">
                    <p class="p-2 text-muted font-medium-1">Web is crowdy. Bestresources.co was born out of a single need for a centralized simple & trusted FREE solution for the community to get access to the resources, personally used by the people. People were sharing their resources on different-different platform and we had to dig deeper to find and save some thing worthy. <br><br> We wanted, "everything at one place" solution. There was nothing out there that ticked all the boxes, so we started building one.</p>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12 text-center">
                    <h6 class="faq-subtitle">The present and future. </h6>
                    <p class="p-2 text-muted font-medium-1">bestresources.co is live with best resources, curated by senior developers from Google, Amazon, Uber and many more. <br><br> We will continue to collaborate with developers to provide best resources on web, at one place.</p>
                </div>
            </div>
            <div class="row d-flex justify-content-center mb-5">
                <div class="col-sm-12 col-md-4 text-center border rounded p-2 mr-md-2 m-1">
                    <div class="mb-50">
                        <img src="https://bestresources.s3.ap-south-1.amazonaws.com/profile/pankaj.jpeg" alt="Pankaj Tanwar" class="rounded-circle mb-50" height="120" width="120">
                    </div>
                    <h5>pankaj</h5>
                    <p class="text-muted font-medium-1"> laid the first brick, engineered it from scratch.</p>
                    <div class="text-center mr-2">
                        <a href="https://twitter.com/the2ndfloorguy" target="_blank">
                            <i class="bx bxl-twitter twitter font-large-1"></i>
                            <span class="font-small-2 d-block">Twitter</span>
                        </a>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <p class="p-2 text-muted font-medium-1">there are many others, who have guided and helped this project come to life - friends, family, internet strangers!
                        <br>                        
                        we are most grateful for everyone’s kindness ❤️
                    </p>
                </div>
            </div>
          </section>
    </div>
</div>